{% extends 'base.html' %}

{% block title %}Welcome to Farm Mart{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
   <i>Hi {{ user.username }}!</i>


    <h2>welcome to farm mart</h2>

    <a class="dropdown-item" href="{% url 'password_change'%}">Change password</a>
    <p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
    <p>Agric tech is the new normal</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock content %}